proxy:
  listener:
    host: "0.0.0.0"
    port: 3000
  admin_listener:
    host: "0.0.0.0"
    port: 3001
  locator:
    type: in_process
    backup_route_store:
      type: filesystem
      base_dir: target/cache
      filename: backup.bin
    locality_to_default_cell:
      us: us1
    control_plane:
      url: http://127.0.0.1:9000
  upstreams:
  - name: us1-getsentry
    url: "http://127.0.0.1:8080"
  - name: us2-getsentry
    url: "http://10.0.0.2:8080"
  - name: de-getsentry
    url: "http://10.0.0.3:8080"

  - name: us1-conduit
    url: "http://10.0.1.1:8080"
  - name: us2-conduit
    url: "http://10.0.1.2:8080"
  - name: de-conduit
    url: "http://10.0.1.3:8080"

  routes:
    - match:
        host: us.sentry.io
        path: /organizations/{organization}/*
      action:
        resolver: cell_from_organization
        cell_to_upstream:
          us1: us1-getsentry
          us2: us2-getsentry
        default: us1-getsentry
    - match:
        host: us.sentry.io
        path: /cell/{cell_id}/*
      action:
        resolver: cell_from_id
        cell_to_upstream:
          us1: us1-getsentry
          us2: us2-getsentry
    - match:
        host: de.sentry.io
      action:
        to: de-getsentry
    - match:
        host: conduit.us.sentry.io
        path: /organizations/{organization}/*
      action:
        resolver: resolve_cell_from_organization
        cell_to_upstream:
          us1: us1-conduit
          us2: us2-conduit
    - match:
        host: conduit.de.sentry.io
        path: /organizations/{organization}/*
      action:
        to: de-conduit

# logging:
#   sentry_dsn: "your_sentry_dsn_here"

metrics:
  statsd_host: "127.0.0.1"
  statsd_port: 8126
