ingest_router:
  listener:
    host: "0.0.0.0"
    port: 3000
  admin_listener:
    host: "0.0.0.0"
    port: 3001
  
  # Locator service configuration for routing public keys to cells
  locator:
    type: in_process
    control_plane:
      url: http://127.0.0.1:9000
    backup_route_store:
      type: filesystem
      base_dir: target/cache
      filename: backup.bin
      compression: zstd1
    localities:
      - us
      - de
    locality_to_default_cell:
      us: us1
      de: de1

  locales:
    us:
      - id: us1
        sentry_url: "http://10.0.0.1:8080"
        relay_url: "http://10.0.0.1:8090"
      - id: us2
        sentry_url: "http://10.0.0.2:8080"
        relay_url: "http://10.0.0.2:8090"
    de:
      - id: de1
        sentry_url: "http://10.0.0.3:8080"
        relay_url: "http://10.0.0.3:8090"

  routes:
    - match:
        host: us.sentry.io
        path: /api/0/relays/projectconfigs/
        method: POST
      action:
        handler: relay_project_configs
      locale: us
    - match:
        host: de.sentry.io
        path: /api/0/relays/projectconfigs/
        method: POST
      action:
        handler: relay_project_configs
      locale: de
    - match:
        host: us.sentry.io
        path: /api/0/relays/live/
        method: GET
      action:
        handler: health
      locale: us
    - match:
        host: de.sentry.io
        path: /api/0/relays/live/
        method: GET
      action:
        handler: health
      locale: de
    - match:
        host: us.sentry.io
        path: /api/0/relays/register/challenge/
        method: POST
      action:
        handler: register_challenge
      locale: us
    - match:
        host: de.sentry.io
        path: /api/0/relays/register/challenge/
        method: POST
      action:
        handler: register_challenge
      locale: de
    - match:
        host: us.sentry.io
        path: /api/0/relays/register/response/
        method: POST
      action:
        handler: register_response
      locale: us
    - match:
        host: de.sentry.io
        path: /api/0/relays/register/response/
        method: POST
      action:
        handler: register_response
      locale: de
    # Public keys endpoint
    - match:
        host: us.sentry.io
        path: /api/0/relays/publickeys/
        method: POST
      action:
        handler: public_keys
      locale: us
    - match:
        host: de.sentry.io
        path: /api/0/relays/publickeys/
        method: POST
      action:
        handler: public_keys
      locale: de


# logging:
#   sentry_dsn: "your_sentry_dsn_here"

metrics:
  statsd_host: "127.0.0.1"
  statsd_port: 8126
