[package]
name = "proxy"
version = "0.1.0"
edition = "2024"

[dependencies]
bytes = "1.10.1"
http = "1.3.1"
http-body-util = "0.1.3"
hyper = { version = "1.7.0", features = ["full"] }
hyper-util = { version = "0.1.17", features = ["full"] }
locator = { path = "../locator" }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tower = { version = "0.5.2", features = ["util"] }
tracing = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
