# TODO: Add actual push to registry on push to main brain. Right now this just validates build works but doesn't push it.
name: build-docker-image
permissions:
    contents: read
on:
    push:
        branches: [ main ]
    pull_request:
jobs:
    build-docker:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v5

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build Docker image
                uses: getsentry/action-build-and-push-images@8fc75e483c09a68721f2c8951292ee17f8821766
                with:
                    # TODO: Change to true when pushing to gar later
                    push: false
                    image_name: synapse
                    platforms: linux/amd64
                    ghcr: false
                    tag_nightly: false
